* {
    margin: 0;
}
.bar a {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-decoration: none;
}

.bar li {
    top: 0;
  left: 0;
  right: 0;
    width: 100%;
    
    font-weight: bold;
    font-size: 17px;
    margin: 0 auto;
    list-style: none;
    color: white;
    padding: 0;

}

.bar li:hover {
    font-size: 18px;
    align-items: center;
    font-weight: bold;
    color: rgb(191, 112, 228);
}

ul {
    position: fixed;
    height: 36px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    -moz-box-shadow: 3px 16px 100px 2px rgba(132, 0, 255, 0.77);
    -webkit-box-shadow: 3px 16px 100px 2px rgba(0, 0, 0, 0.77);
    -ms-box-shadow: 3px 16px 100px 2px rgba(0, 0, 0, 0.77);
    box-shadow: 3px 16px 100px 2px rgba(0, 0, 0, 0.77);
}


.bar {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}


.download a {
    font-size: 15px;
    color: white;
    border-radius: 70px;
    -moz-box-shadow: 3px 16px 100px 2px rgba(132, 0, 255, 0.77);
    -webkit-box-shadow: 3px 16px 100px 2px rgba(209, 0, 0, 0.77);
    -ms-box-shadow: 3px 16px 100px 2px rgba(0, 0, 0, 0.77);
    box-shadow: 3px 16px 100px 2px rgba(0, 0, 0, 0.77);
    background: rgb(0, 0, 0);
    background: -webkit-linear-gradient(0deg, rgb(0, 44, 241), rgba(207, 63, 245, 1));
    display: flex;
}

.melit h1 {
    margin: 0 auto;
    max-width: 500px;
    font-size: 50px;
    display: flex;
    justify-content: left;
    margin-top: 30px;
}

.melit {
    margin-right: 64px;
}

.bar2 h1 {
    background: -webkit-linear-gradient(0deg, rgb(0, 44, 241), rgba(207, 63, 245, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
}
.bar h2 {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    margin: 0 auto;
    max-width: 600px;
}
.bar h1 {
    position: relative;
    margin-top: -56%;
    line-height: 60px;
    width: 400px;
    height: 250px;
    margin-top: 70px;
    font-size: 60px;
    color: white;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

.bar p {
    height: 150px;
    margin-top: -50px;
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    max-width:  700px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}



header span {
    justify-content: right;
    align-items: center;
    display: flex;
}

.barkasen {
    background-color: rgb(73, 73, 73);
    height: 0.5px;
    width: 100%;
}


.melitimg {
    
    box-shadow: -120px 100px 100000px 100px rgba(132, 0, 255, 0.77);
    max-width: 200px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 1043px;
    margin-top: -102px;
}

.melit {
    margin-top: 20px;
    margin-left: 153px;
    justify-content: left;
    align-items: center;

}

.melit p {
    color: rgb(135, 152, 167);
    font-size: 20px;
    max-width: 500px;
}


.color h1 {
    background: -webkit-linear-gradient(266deg,rgba(25,212,3,0.485981308411215) 61%, rgba(10,212,152,0.4742990654205608) 67%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: linear-gradient(266deg,rgba(25,212,3,0.485981308411215) 61%, rgba(10,212,152,0.4742990654205608) 67%, rgba(0,212,255,1) 100%);
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-weight: 2000;
    font-family: 'Noto Sans JP', sans-serif;
}

.ipadgif {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.melit h1 {
    background: -webkit-linear-gradient(0deg, rgb(0, 44, 241), rgba(207, 63, 245, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.melit p {
    font-size: 50px;
}
.kusapad li {
    position: relative;
    justify-content: left;
    text-align: left;
}

.melit span {
    color: black;
}
